.page-container.home-page {
  > .hero-container > .app-bar {
    grid-template-columns: 2.5rem 1fr 1fr;

    .userimage {
      width: 2.5rem;

      border-radius: 50%;
    }

    .typography.-text {
      font: 500 .75rem Poppins;
      color: $color-text-on-purple-base;
      margin-left: 1rem;

      justify-self: start;
    }

    .button-box {
      width: 2.5rem;
      height: 2.5rem;
      margin-left: auto;

      background-color: $color-purple-dark;

      .icon.-power {
        stroke: $color-text-on-purple-base;
      }
    }
  }

  > .hero-container > .image.-welcome {
    margin: auto;
  }

  > .content > .buttons {
    height: 10rem;
    margin: 1.5rem 0;

    > .button-box {
      height: unset;
      padding: 1.5rem;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    > .button-box > .typography.-button {
      margin-top: auto;
      margin-left: 0;

      font-size: 1.25rem;
    }

    > .button-box > .icon {
      width: 2.5rem;
      height: 2.5rem;

      stroke: $color-text-on-purple-title;
    }

    > .button-box:last-child {
      margin-left: 1rem;
    }
  }

  > .content > footer {
    width: 50%;

    margin-top: auto;

    > .typography.-text {
      color: $color-text-complement;
      font-size: .75rem;
    }

    > .icon {
      width: 14px;
      margin-left: .5rem;

      transform: translateY(.3rem);

      opacity: .5;
    }
  }
}
