.page-container.home-page {
  > .hero-container {
    display: flex;
    flex-direction: column;
  }

  > .hero-container > .app-bar {
    > .userimage {
      width: 2.5rem;

      border-radius: 50%;
    }

    > .typography.-text {
      font: 500 .75rem Poppins;
      color: #D4C2FF;
      margin-left: 1rem;
    }

    > .button-box {
      width: 2.5rem;
      height: 2.5rem;
      margin-left: auto;

      background-color: #774DD6;
    }
  }

  > .hero-container > .box {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  > .page-content {
    > .buttons {
      height: 10rem;
      margin: 1.5rem 0;

      display: flex;

      > .button-box {
        height: unset;
        padding: 1.5rem;

        display: flex;
        flex-direction: column;
      }

      > .button-box > .typography.-button {
        margin-top: auto;

        font-size: 1.25rem;
      }

      > .button-box:last-child {
        margin-left: 1rem;
      }
    }

    > footer {
      width: 50%;

      margin-top: auto;

      > .typography.-text {
        color: $color-text-complement;
        font-size: .75rem;
      }

      > .icon {
        width: 14px;
        margin-left: .5rem;

        transform: translateY(.3rem);

        opacity: .5;
      }
    }
  }
}
