.page-container.learn-page > .slider-container > .slider > .view {
  > .hero-container {
    min-height: unset;
  }

  > .hero-container > .filter {
    margin-top: 1rem;
    border-bottom: 1px solid $color-purple-another;

    > .text {
      margin-left: 1rem;

      flex: 1;
    }
  }

  > .content .card > .header {
    margin-bottom: 1.5rem;

    .userimage {
      width: 4rem;

      border-radius: 50%;
    }

    .userinfo {
      margin-left: 1rem;
    }
  }

  > .content .card .separator {
    margin: 1.5rem -1.5rem;

    border: none;
    border-top: 1px solid $color-border-on-white;
  }

  > .content .card .schedule .day {
    padding: .625rem 1rem;
    margin-top: .5rem;

    background-color: $color-shape-2;
    border: 1px solid $color-border-on-white;
    border-radius: .5rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

    .typography {
      font: $font-archivo-bold;
    }

    .dayname { justify-self: start; }
    .image { justify-self: center; }
    .time { justify-self: end; }

    &.-unavailable {
      opacity: .4;
    }
  }

  > .content > .card-container > .footer {
    .buttons {
      margin-top: 1rem;
    }

    .buttons > .favorite {
      width: 4.5rem;
    }

    .buttons > .contact {
      margin-left: .5rem;
    }
  }
}
