.login-page {
  > .brand {
    height: 350px;

    background: $color-purple url("/bg.png") no-repeat 50% 4rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  > .page-content {
    padding: 3.5rem 2rem 4rem;

    flex: 1;

    > header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    > header > .-title {
      margin: 0;
    }

    > form {
      margin-top: 1.5rem;
    }

    .main-fields .form-field:first-child input {
      border-radius: .5rem .5rem 0 0;
    }

    .main-fields .form-field:last-child input {
      border-top: none;
      border-radius: 0 0 .5rem .5rem;
    }

    .remember-box {
      margin-top: 1.5rem;

      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .button-box {
      margin-top: 1.5rem;
    }
  }
}
