.login-page {
  > .box {
    > form {
      margin-top: 1.5rem;
    }

    .main-fields .form-field:first-child input {
      border-radius: .5rem .5rem 0 0;
    }

    .main-fields .form-field:last-child input {
      border-top: none;
      border-radius: 0 0 .5rem .5rem;
    }

    .remember {
      margin-top: 1.5rem;
    }

    .button-box {
      margin-top: 1.5rem;
    }
  }
}
