.page-container.profile-page {
  > .hero-container {
    padding-bottom: 2rem;

    justify-content: center;

    > .userimage {
      width: 8.75rem;

      border-radius: 50%;
    }

    > .typography.-title {
      margin-top: 1rem;
    }
  }

  > .content {
    margin-top: -3rem;
  }

  .card {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .footer {
    background-color: $color-shapes-2;
    border: 1px solid $color-back-lines-on-white;
    border-top: none;
    border-radius: $border-radius;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
