.page-container.reset-page > .content {
  > .header .typography.-text,
  > form > .form-field,
  > form > .button-box {
    margin-top: 1.5rem;
  }

  > .header .typography.-text {
    width: 85%;
  }

  > form {
    margin-top: auto;
  }
}
