.page-container.reset-page > .page-content {
  padding-top: 1.5rem;

  > header .typography.-text,
  > form > .form-field,
  > form > .button-box {
    margin-top: 1.5rem;
  }

  > header {
    display: flex;
    flex-direction: column;
  }

  > header .typography.-text {
    width: 85%;
  }

  > form {
    margin-top: auto;
  }
}
