.page-container.success-page {
  background-color: $color-purple;

  > .box {
    > .box {
      background: url('/success-bg.svg') no-repeat center center;
      background-size: contain;
    }

    > .box > .typography.-title.-bigger {
      margin-top: 1.5rem;

      text-align: center;
    }

    > .box > .typography.-text {
      margin-top: 1rem;

      text-align: center;
    }

    > .button-box {
      margin-top: 3.5rem;
    }
  }
}
