.landing-page {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--color-text-in-primary);
  background: var(--color-primary);
}

.logo img {
  height: 10rem;
}

.hero-image{
  width: 100%;
}

.logo {
  text-align: center;
  margin-bottom: 3.2rem;
}

.logo h2 {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 4.6rem;
  margin-top: 0.8rem;
}

nav {
  display: flex;
  justify-content: center;
  margin: 3.2rem 0;
}

nav a {
  width: 30rem;
  height: 10.4rem;
  border-radius: 0.8rem;

  font: 700 2.0rem Archivo;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: var(--color-button-text);

  transition: background-color 0.2s;
}

nav a:first-child {
  margin-right: 1.6rem;
}

nav a img {
  width: 4rem;
}

nav a.learn {
  background: var(--color-primary-lighter);
}

nav a.teach {
  background: var(--color-secundary);
}

nav a.learn:hover {
  background: var(--color-primary-light);
}

nav a.teach:hover {
  background: var(--color-secundary-dark);
}

nav a img {
  margin-right: 2.4rem;
}

.connections {
  font-size: 1.4rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.connections img {
  margin-left: 0.8rem;
}

@media (min-width: 1100px) {
  .content {
    max-width: 1100px;

    display: grid;
    grid-template-rows: 350px 1fr;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas:
      "logo hero hero"
      "buttons buttons total"
      ;
  }

  .logo {
    grid-area: logo;
    align-self: center;
    margin: 0;
  }

  .logo h2 {
    text-align: initial;
    font-size: 3.6rem;
  }

  .logo img {
    height: 100%;
  }

  .hero-image {
    grid-area: hero;
    justify-content: end;
  }

  nav {
    grid-area: buttons;
    justify-content: flex-start;
  }

  nav a {
    font-size: 2.4rem;
  }

  .connections {
    grid-area: total;
    justify-content: flex-end;
  }
}
