.teacher-list form {
  margin-top: 1.5rem;
}

.teacher-list form label {
  color: var(--color-text-in-primary);
}

.teacher-list form button {
  width: 100%;
}

.teacher-list > .page-content {
  padding-bottom: 2rem;
}

@media (min-width: 768px) {
  .teacher-list {
    max-width: 100%;
  }

  .teacher-list > .page-content {
    padding-top: .5rem;
  }

  .teacher-list form {
    position: relative;
    bottom: -3.5rem;

    display: flex;
    align-items: flex-end;
  }

  .teacher-list form > * {
    flex: 1;
  }

  .teacher-list form > *:not(:first-child) {
    margin-top: 0 ;
    margin-left: 1rem;
  }
}
