.teacher-form .app-bar {
  min-height: 16rem;
}

.teacher-form .page-header .header-content {
  margin-bottom: 6.4rem;
}

.teacher-form .page-content {
  background: var(--color-box-base);
  width: 100%;
  margin: -2rem auto 0;
  padding: 0;
}

.teacher-form .page-content form section {
  padding: 0 1rem;
}

.teacher-form .page-content fieldset {
  margin-top: 3.5rem;
  border: 0;
}

.teacher-form .page-content fieldset legend {
  font: 700 1.5rem Archivo;
  color: var(--color-text-title);
  margin-bottom: .7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-line-in-white);
}

.teacher-form .page-content fieldset legend button {
  background: none;
  border: 0;

  color: var(--color-primary);
  font: 700 1rem Archivo;

  cursor: pointer;
}

.teacher-form .page-content fieldset .input-block + .textarea-block,
.teacher-form .page-content fieldset .select-block + .input-block {
  margin-top: 1.4rem;
}

.teacher-form .page-content label {
  color: var(--color-text-complement);
}

.teacher-form .page-content .schedule-item + .schedule-item {
  margin-top: 2.4rem;
}

.teacher-form .page-content footer {
  padding: 2rem 1rem;
  margin-top: 4rem;

  background: var(--color-box-footer);
  border-top: 1px solid var(--color-line-in-white);
}

.teacher-form .page-content footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .85rem;
  line-height: 1.4rem;
  color: var(--color-text-complement);
}

.teacher-form .page-content footer p img {
  margin-right: 1.2rem;
}

.teacher-form .page-content footer button {
  width: 100%;
}

@media (min-width: 768px) {
  .teacher-form {
    padding-bottom: 2rem;
  }

  .teacher-form .page-header .header-content {
    margin-bottom: 0;
  }

  .teacher-form .page-content {
    border-radius: .5rem;
  }

  .teacher-form .page-content form section {
    padding: 0 4rem;
  }

  .teacher-form .page-content .schedule-item {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .teacher-form .page-content footer {
    padding: 2.5rem 4rem;
    border-radius: 0 0 .5rem .5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .teacher-form .page-content footer p {
    justify-content: space-between;
  }

  .teacher-form .page-content footer button {
    width: 12rem;
    margin-top: 0;
  }
}
