.button-box {
  width: 100%;
  height: 3.5rem;

  border: none;
  border-radius: .5rem;

  background-color: $color-purple;

  display: flex;
  align-items: center;
  justify-content: center;

  > .icon + .typography {
    margin-left: 1rem;
  }

  &.-disabled {
    background-color: $color-shapes-disabled;
  }

  &.-primary {
    background-color: $color-green;
  }
}
