.hero-container {
  min-height: 350px;
  background-color: $color-purple;

  &.-brand {
    background: $color-purple url("/bg.png") no-repeat 50% 4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    > .box {
      display: flex;
      flex-direction: column;
    }
  }
}
