.typography-text {
  &.-button {
    color: $color-text-complement;
    font: 600 1rem $font-archivo;
  }

  &.-label {
    color: $color-text-complement;
    font: 400 .875rem $font-poppins;
    line-height: 1.5rem;

    // &.-focused {
    //   font-size: .625rem;
    //   line-height: 1.25rem;
    //   color: $color-text-inputs;
    // }
  }

  &.-link {
    color: $color-purple;
    font: 400 .75rem $font-poppins;
    line-height: 1.5rem;
    text-decoration: none;
  }

  &.-slogan {
    color: $color-text-in-purple-base;
    font: 400 .8rem $font-poppins;
  }

  &.-title {
    color: $color-text-titles;
    font: 600 1.5rem Poppins;
    line-height: 2.1rem;
  }
}

.button-box {
  &.-primary > .typography-text.-button {
    color: $color-shapes-1;
  }
}
