.app-bar {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
}

.app-bar .top {
  height: 64px;
  color: var(--color-text-in-primary);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-bar .top a {
  display: flex;
  transition: opacity 0.2s;
}

.app-bar .top a:hover {
  opacity: 0.6;
}

.app-bar .content {
  padding-bottom: 2rem;
  margin-top: 0;
  margin-bottom: 0;
}

.app-bar .content strong {
  font: 700 2.2rem Archivo;
  /* line-height: 4.2rem; */
  color: var(--color-title-in-primary);
}

.app-bar .content p {
  font-size: 1rem;
  line-height: 1.2rem;
  color: var(--color-text-in-primary);
  margin-top: 1.5rem;
}

@media (min-width: 768px) {
  .app-bar > .content {
    padding-right: 0;
    padding-left: 0;
  }
}
