.button {
  width: 12rem;
  height: 3.5rem;
  background: var(--color-secundary);
  border: 0;
  border-radius: 0.5rem;

  color: var(--color-button-text);
  font: 700 1rem Archivo;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  transition: background-color 0.2s;
}

.button .icon {
  margin-right: 1rem;
}

.button:hover {
  background: var(--color-secundary-dark);
}

.button:focus {
  outline: none;
}

