.input {
  position: relative;
}

.input label {
  font-size: .85rem;
}

.input input {
  width: 100%;
  height: 3.5rem;
  padding: 0 1rem;
  margin-top: .5rem;
  background: var(--color-input-background);
  border: 1px solid var(--color-line-in-white);
  border-radius: .5rem;
  outline: 0;

  font-family: Archivo;
  font-size: 1rem;
  color: var(--color-text-base);
}
