.page {
  width: 100vw;
  height: 100vh;

  /* background: var(--color-primary);
  color: var(--color-text-in-primary); */

  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */

  overflow: hidden;
  overflow-y: auto;
}
